.showcase-list {
    overflow: auto;
    height: 519px;
    margin-top: 20px;
    &__showcase-item {
        padding-top: 19px;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(135, 135, 135, 0.2);
        &:last-child {
            border: none;
        }
    }
    &::-webkit-scrollbar {
        width: 2px;
        background-color: #e7e7e7;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #41522e;
    }
    &__loader {
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
