.favorite-item {
    border-bottom: 1px solid rgba(135, 135, 135, 0.2);
    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: 300;
        font-size: 17px;
    }
    &__date-info {
        margin-top: 4px;
    }

    &__stars {
        margin-top: 10px;
        margin-bottom: 15px;
    }

    &__price {
        margin-top: 10px;
        margin-bottom: 15px;
    }
}